<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Football Prediction App</title>
    </head>

    <body>
        <h1>Football Prediction App</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/upcoming-games">This weekends games</a>
            <a href="/predictions/make-prediction">Make a prediction</a>
            <a href="/predictions">View Predictions</a>
        </nav>

        <h2>Welcome to the Football Prediction App!</h2>

        <p>If you are a betting person then this is the place for you!
        Here you can do the following:</p>

        <ul>
            <li><a href="/upcoming-games">View upcoming games</a></li>
            <li><a href="/predictions/make-prediction">Make predictions on upcoming games</a></li>
            <li><a href="/predictions">View predictions made by all users</a></li>
        </ul>
    </body>
</html>