<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link href="https://fonts.googleapis.com/css2?family=Germania+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/style.css">

        <title>Football Predictor - User Predictions</title>
    </head>
    <body>
        <h1>Football Predictor</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/upcoming-games">Upcoming games</a>
            <a href="/predictions/make-prediction">Make a prediction</a>
            <a href="/predictions">View Predictions</a>
        </nav>

        <h2>User Predictions</h2>
        Predictions made by other users:

        <%- userPredictionsTable %>
    </body>
</html>